#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 20px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.red-rectangle {
  background-color: red;
  aspect-ratio: 1/ 1;
  width: 50px;
}

.menu-open {
  font-size: 2rem;
}
